.footer {
  padding-top: 65px;
  padding-bottom: 90px;
  background-color:  $bg-color-secondary;

  @media (max-width: $screen-md-max) {
    padding-top: 45px;
    padding-bottom: 70px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
    padding-bottom: 20px;
  }  
}

.social-list {
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
  list-style: none;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    align-items: center;
  }

  &__item {
    outline: none;
  }

  &__link {
    display: block; 
    padding: 8px 12px;
    color: $font-color-primary;
    font-size: $font-size-h4;
    outline: none;

    &:hover{
      @media (min-width: $screen-md-min) {
        color: $font-color-secondary;
      }    
    }

    &:focus{
      color: $font-color-secondary;
    }

    &:active{
      color: $font-color-primary;
    }
  }
}