.nav {
  position: fixed;
  top: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
  border: none;
  z-index: 9999;
  transition: background-color 0.3s ease;

  &--stiky {     
    background-color: $bg-color-header;
    opacity: 0.9;     
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }

  &__logo {
    margin-right: 15px;
  }
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  padding-left: 0;

  @media (max-width: $screen-sm-max) {
    position: absolute;
    top: 56px;
    right: 0;
    max-width: 250px;
    margin-right: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    opacity: 0;
    transform: translateY(calc(-100% - 90px));
    z-index: 2;
  }

  &--show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity ease 0.3s, transform ease 0.3s;
  }

  &__item {
    &:not(:last-child) {
      @media (max-width: $screen-sm-max) {
        border-bottom: 1px dotted ;
      }

      @media (min-width: $screen-md-min) {
        margin-right: 10px;
      }

      @media (min-width: $screen-lg-min) {
        margin-right: 60px;
      }      
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 6px 10px;
    color: $font-color-primary;
    font-size: $font-size-md;
    white-space: nowrap;

    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    vertical-align: middle;

    @media (max-width: $screen-sm-max) {
      border-bottom: 1px dotted $btn-toggle-menu-color;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-light-brown;
      height: 4px;
      transform: scaleY(0);
      transition: 0.3s transform ease;
    }

    &:focus {
      color: $font-color-menu-effects;
      outline: 1px dotted $color-light-brown;

      @media (max-width: $screen-sm-max) {
        box-shadow: 0 0 6px 2px $btn-toggle-menu-color;
      }
    }

    &:hover {
      @media (min-width: $screen-md-min) {
        color: $font-color-menu-effects;

        &:before {
          transform: scaleY(1);
        }
      }
    }
    
    &:active {
      color: darken($font-color-menu-effects, 10);
      outline: 1px dotted $color-light-brown;
      box-shadow: 0 0 10px 4px $color-light-brown;

      @media (max-width: $screen-md-max) {
        box-shadow: 0 0 10px 3px $btn-toggle-menu-color;     
      }
    }

    &--active {
      color: $font-color-menu-effects;
    }  
  }
}

.logo {
  
  &__img {
    @media (max-width: $screen-sm-max) {
      width: 80px;
    }
  }

  &:focus {
    outline: 1px dotted $btn-toggle-menu-color;
  }
}

.btn-toggle-menu {
  display: none;

  @media (max-width: $screen-sm-max) {
    display: block;
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 2px solid $btn-toggle-menu-color;
    border-radius: 10px;
    background-color: transparent;
  }

  &__item {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    font-size: 0;
    background-color: $btn-toggle-menu-color;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      width: 100%;
      height: 3px;
      background-color: $btn-toggle-menu-color;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 3px;
      background-color: $btn-toggle-menu-color;
    }
  }

  &:focus {
    box-shadow: 0px 0px 8px 2px $btn-toggle-menu-color;
  }

  &:active {
    box-shadow: 0px 0px 8px 6px $btn-toggle-menu-color;
  }
}