.section-feedback {
}

.form-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 637px;
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url('../img/fon_form.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $screen-md-min) {
    padding: 50px 70px 60px;
  }

  &__group {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;    

    &--half-width {
      @media (min-width: $screen-sm-min) {
        width: 50%;
      }
    }

    &:hover .form-contact__field{
      @media (min-width: $screen-md-min) {
        box-shadow: 0 0 10px 2px $input-color-primary;
      }
    }
  }

  &__caption {
    display: block;
    font-family: $font-family-secondary;
    font-size: $font-size-base;
    font-weight: 700;    

    @media (min-width: $screen-md-min) {
      margin-bottom: 12px;
      font-size: $font-size-md;
    }
  }

  &__field {
    width: 100%;
    padding: 1.25em;
    opacity: 0.4;
    border: 1px solid $input-color-primary;
    outline: none;
    font-family: $font-family-secondary;
    font-size: $font-size-sm;
    color: $font-color-input;    

    @media (min-width: $screen-md-min) {
      font-size: $font-size-base;
    }

    &:focus {
      outline: 1px solid $input-color-primary;
    }

    &:active {
      outline: 4px solid $input-color-primary;
    }

    &--message {
      height: 293px;
      resize: none;
    }
  }
}